---
layout: homepage-long-scroll
---

<section id="home" class="zen-section visible">
	<div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <h2>The world's <em>first</em> <strong>private, distributed, and reliable</strong> platform for communications, transactions, and publishing.</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <p class="lead mt-5">
            <i>Sign up below, then check your email to receive exclusive updates</i>
          </p>

          <p id="email-success" style="display: none;">
            Success! Please check your email to confirm we have the right one.
          </p>

          <form id="email-form" name="mc-embedded-subscribe-form" class="form-inline justify-content-center mb-4" action="//zencash.us15.list-manage.com/subscribe/post?u=a2e6f8a8a8a21683874d560ea&id=d60b1a11f5" method="get" novalidate>
            <div class="form-group">
              <input type="email" value="" name="EMAIL" class="required email form-control form-control-lg" id="mce-EMAIL" placeholder="Enter your email">
              <div class="form-control-feedback"></div>
            </div>
            <div class="submit_container clear">
              <input type="submit" value="Get Exclusive Updates" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-primary">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_a2e6f8a8a8a21683874d560ea_d60b1a11f5" tabindex="-1" value="">
            </div>
          </form>

          <div id="quickLinks">

            {% comment %} Need to make these popovers or open in another way that doesn't make the page too long {% endcomment %}

            <h4 class="mt-5 mb-1">Get Started</h4>

            <a class="btn btn-secondary" data-toggle="reveal" href="#buyZenCollapse">Buy ZenCash</a>
            <a class="btn btn-secondary" data-toggle="reveal" href="#mineZenCollapse">Mine ZenCash</a>
            <a class="btn btn-secondary" data-toggle="reveal" href="#downloadWallet">Download GUI Wallet</a>

            <div class="card">
              <div id="buyZenCollapse" class="reveal">
                <div class="card-block">
                  {% include content/buy-zen.html %}
                </div>
              </div>
              <div id="mineZenCollapse" class="reveal">
                <div class="card-block">
                  {% include content/mine-zen.html %}
                </div>
              </div>
              <div id="downloadWallet" class="reveal">
                <div class="card-block">
                  {% include content/wallets.html %}
                </div>
              </div>
            </div>

          </div>

          <div>
            <h4 class="mt-3 mb-1">Our Community</h4>
            <ul class="community-list list-unstyled">
              <li>
                <a href="{{site.links.slack}}"><i class="fa fa-slack"></i></a>
              </li>
              <li>
                <a href="{{site.links.reddit}}"><i class="fa fa-reddit"></i></a>
              </li>
              <li>
                <a href="{{site.links.blog}}"><i class="fa fa-rss"></i></a>
              </li>
              <li>
                <a href="{{site.links.twitter}}"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="{{site.links.bitcointalk}}"><i class="fa fa-btc"></i></a>
              </li>
              <li>
                <a href="{{site.links.github}}"><i class="fa fa-github"></i></a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
	</div>
</section>

<section id="tech" class="zen-section">
  <div>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <h2>Our Tech</h2>
          <h2>Our Community</h2>
          <h2>Our Users</h2>
        </div>
      </div>
    </div>
	</div>
</section>

<section id="roadmap" class="zen-section">
  <div>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <h2>Our Roadmap</h2>
        </div>
      </div>
    </div>
	</div>
</section>

<section id="faqs" class="zen-section">
  <div>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <h2>FAQs</h2>
        </div>
      </div>
    </div>
	</div>
</section>

<section id="team" class="zen-section">
  <div>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <h2>Our Team</h2>
        </div>
      </div>
    </div>
	</div>
</section>

<section id="news" class="zen-section">
  <div>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <h2>News</h2>
        </div>
      </div>
    </div>
	</div>
</section>

<section id="events" class="zen-section">
  <div>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <h2>Events</h2>
        </div>
      </div>
    </div>
	</div>
</section>

<section id="info" class="zen-section">
  <div>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <h2>Info Center</h2>
        </div>
      </div>
    </div>
	</div>
</section>

<nav>
  <ul class="zen-vertical-nav">
    <li><a href="#" class="zen-prev inactive">Next</a></li>
    <li><a href="#" class="zen-next">Prev</a></li>
  </ul>
</nav> <!-- .zen-vertical-nav -->
